/*
Primary color: #191919;
Secondary color: ##95CA86;
text-color--white--: #ffffff;
*/

* {
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
    color: #191929;
    margin: 0px;
    padding: auto;
}


.app-container {
    background-color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #191919;
    padding: 10px;
    border-bottom: 1px solid #E7FFDB;

}
.navbar-title{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}

a{
    text-decoration: none;
}

.pokemon-button{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 250px;
    height: 150px;
    padding: 16px;
    margin: 10px;
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500px;
}

.pokemon-list{
    display: flex;
    flex-wrap: wrap;
    align-items: space-evenly;
}

.pokemon-image {
    width: 100px; 
    height: 100px; 
}

.main-container {
    width: 100%;
    padding: 0;
}

input {
    border-radius: 20px;
    text-align: center;
}

#modal-container {
    display: none;
}
#modal-container.is-visible {
    display: block;
    position: fixed;
    padding: 20px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto; 
    text-align: center;
  }

.modal {
  margin: auto;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;
  padding: 15px;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.modal-close {
  float: right;
  border: 0;
  background: none;
}

.modal-close:hover {
  cursor: pointer;
}

#x-icon{
    height: auto;
    width: 15px;
}

.modal h1 {
  margin-top: 0;
  font-size: 20px;
}

.modal p {
  margin-bottom: 0;
  font-size: 16px;
}

.pokemon-list{
    list-style-type: none;
    
}


/* Media Query for mobile and tablet screens up to 767px and below */
@media all and (max-width: 499px){
    button{
       width: 100px;
       height: 100px;
       font-size: 75%;
    }
}

/* Setting media queries for screens sizes from 500px and above */
@media all and (min-width: 500px){
    button{
        font-size: 17px;
        font-weight: 600;
    }   
}

