:root {
    --primary-color: #191919;
    --font-color--white--: #ffffff;
    --font-family: 'Open Sans', sans-serif; /*correct google font*/
}

body {
    background-color: #ffffff;
    color: #191929;
    font-family: var(--font-family);
    font-size: 16px;
}

.navbar-brand{
    font-size: 23px;
    font-weight: 900;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.list-group-item{
    width: 250px;
    height: 150px;
    display: flex;
}

.pokemon-button{
    width: 100%;
    height: 100%; 
    text-align: center;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400px;
    border-radius: 15px;
    border: 0px;
    color: #fff;
    font-family: var(--font-family);
    text-shadow: #333333 0px 0px px;
}


.pokemon-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.pokemon-image {
    width: 90%; 
    height: 87%;
}


/*
#modal-container.is-visible {
    display: block;
    position: fixed;
    padding: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    overflow: auto; 
    text-align: center;
  }

.modal {
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    background: #fff;
    width: 100%;
    max-width: 500px;
    text-align: center;
    border-radius: 15px;
}

.modal-close {
    position: absolute;
    right: 0px;
    border: none;
    background: none;
    font-size: 18px;
    margin: 10px;
}

.modal-close:hover {
    cursor: pointer;
    background-color: white;
    border-radius: 50px;
}

.modal img {
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    margin-top: 20px;
}


.modal h1 {
    margin-top: 0;
    font-size: 25px;
    text-align: center;
}

.modal p {
    margin-bottom: 0;
    font-size: 16px;
}
*/







  
/*Pokemon Type Colors*/
.fire{
    background-color: #F08030;
}
.water{
    background-color: #6890F0;
}
.grass{
    background-color: #78C850;
}
.electric{
    background-color: #F8D030;
}
.ice{
    background-color: #98D8D8;
}
.fighting{
    background-color: #C03028;
}
.poison{
    background-color: #A040A0;
}
.ground{
    background-color: #E0C068;
}
.flying{
    background-color: #A890F0;
}
.psychic{
    background-color: #F85888;
}
.bug{
    background-color: #A8B820;
}
.rock{
    background-color: #B8A038;
}
.ghost{
    background-color: #705898;
}
.dark{
    background-color: #705848;
}
.dragon{
    background-color: #7038F8;
}
.steel{
    background-color: #B8B8D0;
}
.fairy{
    background-color: #EE99AC;
}
.normal{
    background-color: #A8A878;
}




/* Media Query for mobile and tablet screens up to 767px and below */
@media all and (max-width: 499px){
    .pokemon-button{
       width: 100px;
       height: 100px;
       font-size: 75%;
    }
}

/* Setting media queries for screens sizes from 500px and above */
@media all and (min-width: 500px){
    .pokemon-button{
        font-size: 17px;
        font-weight: 600;
    }   
}

